/* .badge{
    font-size: 14px;
    color: green;
    background-color: #a5cc8c;
} */

.badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.25em;
  }
  
  /* Badge colors */
  .badge-success {
    background-color: green;
    color: white;
  }
  
  .badge-danger {
    background-color: red;
    color: white;
  }
  




.container_top {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#filter-dropdown {
  padding: 5px;
}
#pageSize{
  padding: 5px;
}
#search-input {
  flex-grow: 1;
  padding: 5px;
}

#search-button {
  padding: 10px 15px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  cursor: pointer;
}

.no-records-label {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-top: 20%; 
}