<!-- <div class="parent">
    <div class="phone-input">
        <select id="country-code" [(ngModel)]="selectedCountryCode">
          <option value="+1">+1</option>
          <option value="+91">+91</option>
        </select>
        <input type="tel" id="phone-number" [(ngModel)]="phoneNumber" placeholder="Enter phone number">
    </div>
</div> -->



<button class="mt-4 btn btn-success" id="showbtn"(click)="toggleFormVisibility()"><i class="fa fa-user-plus" aria-hidden="true"></i>Add Driver</button>



    <!-- Your form content goes here -->
    <div class="parentFormContainer">
        <div id="formContainer" *ngIf="AddbuttonForm">
        <h2 class="mb-3">Driver Registration</h2>
            <form class="container" [formGroup]="AddForm" (ngSubmit)="AddDriver()">
                
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Name</label>
                  <input type="text" class="form-control" formControlName="drivername" placeholder="Enter Username"/>
                </div>
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Email</label>
                  <input type="email" class="form-control" formControlName="driveremail" placeholder="Enter Email"/>
                </div>
                <div class="dropdown mb-3">
                  <label class="form-label d-flex justify-content-start">Country Code</label>
                  <select class="form-label d-flex justify-content-start form-control" name="code" #code (change)="onSelected(code.value)">
                    <option value="">Select country code</option>
                    <option  [value]="code" *ngFor="let code of countrycode ">{{code}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Phone</label>
                  <input type="tel" class="form-control" formControlName="driverphone" placeholder="Enter Phone" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                </div>
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Upload Profile</label>
                    <input type="file" class="form-control" formControlName="profile"  name="profile" (change)="onFileSelected($event)"/>
                  </div>
                <div>
                  <button type="submit" class="btn btn-primary w-100" id="submitBtn"> Submit</button>
                </div>
          </form>
        </div>
      </div>


      <div class="container-fluid" (mousemove)="resetTimer()">
        <div class="updateContainer py-4" *ngIf="updateForm">
          <div id="Container">
            <form class="container" [formGroup]="driverUpdateForm" (ngSubmit)="updateDriver()">

              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">Name</label>
                <input type="text" class="form-control" formControlName="updatedrivername" />
              </div>
              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">Email</label>
                <input type="email" class="form-control" formControlName="updatedriveremail" />
              </div>
              <div class="dropdown mb-3">
                <label class="form-label d-flex justify-content-start">Country Code</label>
                <select class="form-label d-flex justify-content-start form-control" name="code" #code (change)="onSelected(code.value)"  formControlName="updatecountrycode">
                  <option  [value]="code" *ngFor="let code of countrycode ">{{code}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">Phone</label>
                <input type="tel" class="form-control" formControlName="updatedriverphone" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
              </div>
              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">Profile</label>
                <input type="file" class="form-control" (change)="onFileSelected($event)" />
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success w-50 m-2 " id="userupdate"><i class="fa-solid fa-thumbs-up"></i>&nbsp; Update
                </button>
                <button type="button" class="w-50 m-2 btn btn-danger" id="updateCancel" (click)="updateCancel()"> Cancel &nbsp;<i class="fa fa-user-times" aria-hidden="true"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  


  <div class="mt-5">
    <div class="d-flex justify-content-center align-items-center">
    <label for="pageSize">Show Data :</label>
    <select class="form-control w-25 m-2" id="pageSize" [(ngModel)]="limit" (change)="onPageSizeChange($event)">
      <option [ngValue]="null">Select Page</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="10">10</option>
    </select>
    <input type="text" class="form-control w-25 m-3" placeholder="Search by ID, Name, Email, Phone..." [(ngModel)]="searchValue" (input)="searchDriver()">
    </div>
  </div>

    <div class="parentFormContainer">
      <div id="tableContainer">
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-light text-dark">
            <tr>
              <th>Profile</th>
              <th>Name</th>
              <th>Email</th>
              <th>Country Code</th>
              <th>Phone</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let driver of driverArray | paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: totalPages };let i = index">
              <td><img src="http://localhost:4000/{{ driver.profile}}" alt=""></td>
              <td>{{ driver.drivername }}</td>
              <td>{{ driver.driveremail }}</td>
              <td>{{ driver.countrycode }}</td>
              <td>{{ driver.driverphone }}</td>
              <td>
                <button id="updatebtn" (click)="updateBtnClick(driver)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </td>
              <td>
                <button id="deletebtn" (click)="deleteDriver(driver._id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="pagination d-flex justify-content-center" id="parentpagination">
          <!-- pagination buttons -->
          <div class="pagination table-responsive rounded">
            <button class="page-link" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i> Previous
            </button>
            <ng-container *ngFor="let page of getPagesArray()">
              <button class="page-link"
                      [class.active]="page === currentPage"
                      (click)="onPageChange(page)">
                {{ page }}
              </button>
            </ng-container>
            <button class="page-link" [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">
              Next <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
    
    
      </div>
    </div>

