.parentFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #formContainer {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 16px #d0d0d0;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    margin: 40px;
  }

  #formContainer label{
    font-weight: 700;
  }

  .form-custom-select {
    position: relative;
    display: inline-block;
  }
  
  .form-custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .form-dropdown-icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    pointer-events: none;
  }

.note{
  color: red;
  font-weight: bold;
}