
      <!-- -----------------------------------------SETTING FORM---------------------------------------------------- -->
      <div class="parentFormContainer">
        <div id="formContainer">
          <h2 class="mb-3">Setting Panel</h2>
          <form class="container" [formGroup]="settingForm"  (ngSubmit)="onSubmit()">

            <div class="form-group row align-items-center mb-2 d-flex">
              <label class="col-sm-3 col-form-label text-end">Ride Timeout</label>
              <div class="col-sm-9 form-custom-select">
                <!-- <select class="form-control" id="ridetimeout" name="ridetimeout" formControlName="ridetimeout">
                  <option  [value]="'ridetimeout'">{{ridetimeout}}</option>
                  <option value="ridetimeout" *ngFor="let ridetimeout of timeoutArray">{{ridetimeout}}</option>
                </select>
                <i class="fas fa-chevron-down form-dropdown-icon"></i> -->
                <input type="text" class="form-control" [value]="ridetimeout" formControlName="ridetimeout">

              </div>
            </div>
      
            <div class="form-group row align-items-center mb-2 d-flex">
                <label class="col-sm-3 col-form-label text-end">Stop</label>
                <div class="col-sm-9 form-custom-select ">
                  <!-- <select class="form-control" id="stop" name="stop"  formControlName="stop">
                    <option [value]="'stop'">{{stop}}</option>
                    <option value="stop" *ngFor="let stop of stopArray">{{stop}}</option>
                  </select>
                <i class="fas fa-chevron-down form-dropdown-icon"></i> -->
                <input type="text" class="form-control" [value]="stop" formControlName="stop">
                </div>
            </div>


            <div>
              <div class="form-group row align-items-center mb-2">
                <label class="col-sm-3 col-form-label text-end">Ethereal Username</label>
                <div class="col-sm-9 form-custom-select">
                  <input type="text" class="form-control" [value]="EMAIL_USER" formControlName="EMAIL_USER" [ngStyle]="{ 'background-color': '#ebebeb' }">
                </div>
              </div>
            </div>

            <div>
              <div class="form-group row align-items-center mb-2">
                <label class="col-sm-3 col-form-label text-end">Ethereal Password</label>
                <div class="col-sm-9 form-custom-select">
                  <input type="text" class="form-control" [value]="EMAIL_PASSWORD" formControlName="EMAIL_PASSWORD" [ngStyle]="{ 'background-color': '#ebebeb' }">
                </div>
              </div>
            </div>

            <div>
              <div class="form-group row align-items-center mb-2">
                <label class="col-sm-3 col-form-label text-end">Account Sid</label>
                <div class="col-sm-9 form-custom-select">
                  <input type="text" class="form-control" [value]="accountSid" formControlName="accountSid" [ngStyle]="{ 'background-color': '#ebebeb' }">
                </div>
              </div>
            </div>

            <div>
              <div class="form-group row align-items-center mb-2">
                <label class="col-sm-3 col-form-label text-end">Auth Token</label>
                <div class="col-sm-9 form-custom-select">
                  <input type="text" class="form-control" [value]="authToken" formControlName="authToken" [ngStyle]="{ 'background-color': '#ebebeb' }">
                </div>
              </div>
            </div>

            <div>
              <div class="form-group row align-items-center mb-2">
                <label class="col-sm-3 col-form-label text-end">Twilio Phone Number</label>
                <div class="col-sm-9 form-custom-select">
                  <input type="text" class="form-control" [value]="twilioPhoneNumber" formControlName="twilioPhoneNumber" [ngStyle]="{ 'background-color': '#ebebeb' }">
                </div>
              </div>
            </div>

            <div>
              <div class="form-group row align-items-center mb-2">
                <label class="col-sm-3 col-form-label text-end">STRIPE Publishable Key </label>
                <div class="col-sm-9 form-custom-select">
                  <input type="text" class="form-control" [value]="STRIPE_Publishable_key" formControlName="STRIPE_Publishable_key" [ngStyle]="{ 'background-color': '#ebebeb' }">
                </div>
              </div>
            </div>

            <div>
              <div class="form-group row align-items-center mb-2">
                <label class="col-sm-3 col-form-label text-end">STRIPE Secret Key</label>
                <div class="col-sm-9 form-custom-select">
                  <input type="text" class="form-control" [value]="STRIPE_Secret_key" formControlName="STRIPE_Secret_key" [ngStyle]="{ 'background-color': '#ebebeb' }">
                </div>
              </div>
            </div>
            <p class="note mt-2">
              *Note : Please be cautious before changing the credentials.
            </p>
            <button type="submit" class="btn btn-info" >Update</button>
          </form>
        </div>
      </div>