<div class="parentFormContainer">
  <div id="formContainer">
    <h2 class="mb-3">User Registration</h2>

    <form class="container" [formGroup]="myForm" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Name</label>
        <input type="text" class="form-control" formControlName="adminName" />
      </div>
      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Email</label>
        <input type="email" class="form-control" formControlName="email" />
      </div>
      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Password</label>
        <input type="password" class="form-control" formControlName="password"/>
      </div>
      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Confirm Password</label>
        <input type="text" class="form-control" formControlName="cnfpassword"/>
      </div>
      <div>
        <button type="submit" class="btn btn-primary w-100" id="submitBtn">
          Submit
        </button>
      </div>
      <div id="login">
        Already have an account ?
        <a routerLinkActive="active" routerLink="/login">Login</a>
      </div>
    </form>
  </div>

</div>
