<div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>CONTACT</span>
              <span>US</span>
            </div>
            <div class="app-contact">CONTACT INFO : +62 81 314 928 595</div>
          </div>
          <div class="screen-body-item">
            <div class="app-form">
              <form [formGroup]="feedbackForm" (ngSubmit)="submitForm()">
                <div class="app-form-group">
                    <input class="app-form-control" placeholder="NAME" formControlName="name">
                </div>
                <div class="app-form-group">
                    <input class="app-form-control" placeholder="EMAIL" formControlName="email">
                </div>
                <div class="app-form-group">
                    <input class="app-form-control" maxlength="10" placeholder="CONTACT NO" formControlName="phone"> 
                </div>
                <div class="app-form-group message">
                    <input class="app-form-control" placeholder="MESSAGE" formControlName="message">
                </div>
                <div class="app-form-group buttons">
                    <button class="app-form-button" type="button" (click)="resetForm()">CANCEL</button>
                    <button class="app-form-button info-button" type="submit" mat-button mat-dialog-close cdkFocusInitial>SEND</button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  