
<div class="search-container">
  <form (ngSubmit)="showRoute()">
  <input id="fromSearchBox"  [(ngModel)]="fromLocation"  #fromSearchBox  name="fromLocation" (input)="onFromLocationInput()" type="text"  placeholder="From Location" autocomplete="on" >
  <input id="toSearchBox" [(ngModel)]="toLocation" name="toLocation" (input)="onToLocationInput()" autocomplete="on" #toSearchBox type="text" placeholder="To Location">
  <button type="submit" [disabled]="!fromLocation || !toLocation" (click)="showRoute()">Get Route</button>
  <!-- <button type="submit" (click)="showRoute()">Get Route</button> -->
</form>
</div>

<div class="route-info" *ngIf="distance && duration">
  <p>Distance: {{ distance }}</p>
  <p>Duration: {{ duration }}</p>
</div>

  <div id="map"></div>
