<section class="hero">
  <button (click)="navigateToCreateRide()">Book Now</button>
</section>

<section class="cards">
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/images/auto.png" alt="Taxi 1" />
    </div>
    <div class="card-content">
      <h4>Taxi Model 1</h4>
      <p>Spacious and comfortable ride for your journey.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/images/thar.webp" alt="Taxi 2" />
    </div>
    <div class="card-content">
      <h4>Taxi Model 2</h4>
      <p>Modern and reliable transportation at your service.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/images/scorpio.webp" alt="Taxi 3" />
    </div>
    <div class="card-content">
      <h4>Taxi Model 3</h4>
      <p>Eco-friendly and efficient rides for a better planet.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/images/Ola.jpg" alt="Taxi 3" />
    </div>
    <div class="card-content">
      <h4>Taxi Model 3</h4>
      <p>Eco-friendly and efficient rides for a better planet.</p>
    </div>
  </div>
</section>

<section class="map-container">
  <h2 class="map-heading">Start Your Journey</h2>
  <div id="map" class="map"></div>
</section>

<section class="customers">
  <h3 class="customers-heading">Join Our Happy Customers</h3>
  <p>Total Customers: <span id="customer-count">5000+</span></p>
  <div class="feedback">
    <div class="feedback-item">
      <p>"Great service, on-time and friendly drivers!"</p>
      <p>- Sarah J.</p>
    </div>
    <div class="feedback-item">
      <p>"Easy booking process and clean taxis."</p>
      <p>- John S.</p>
    </div>
    <div class="feedback-item">
      <p>"Best taxi app I've used so far!"</p>
      <p>- Emily M.</p>
    </div>
  </div>
</section>

<section class="services">
  <h3 class="service-heading">Our Services</h3>
  <div  class="service-container">
    <div class="service">
      <h4>Ride Booking</h4>
      <p>Quick and convenient ride booking.</p>
    </div>
    <div class="service">
      <h4>Payment Options</h4>
      <p>Secure and flexible payment methods.</p>
    </div>
    <div class="service">
      <h4>24/7 Support</h4>
      <p>Customer support always available.</p>
    </div>
  </div>
</section>
