


<div class="parentFormContainer">
  <div id="formContainer">

    <select id="country" (change)="loadCities()">
      <option value="">Select a country</option>
      <option *ngFor="let country of countries" [value]="country">{{country}}</option>
    </select>

      <input #inputField id="city" placeholder="Enter city name">
      <span id="duplicateError" *ngIf="isDuplicateCity" style="color: red;">City already exists</span>
      <button (click)="checkLocation()" >Check Zone</button>
      <button (click)="addCity()" [disabled]="!isValidCity">Add City</button>
      </div>
    </div>
    
    <div class="p-4">
      <div class="rounded" id="map">
      </div>
    </div>

  
  <div class="parenttableContainer">
    <div id="tableContainer">
      <div class="table-responsive">
        <table class="table">
          <thead class="bg-dark text-light">
          <tr>
            <th>Country</th>
            <th>City</th>
            <th>Option</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let city of cityData">
            <td>{{ city.countryName }}</td>
            <td>{{ city.cityName }}</td>
            <td>
              <!-- <button id="updatebtn" (click)="updateCity(city._id)"> -->
                <button id="updatebtn" (click)="updateCity()">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
