<div class="parentFormContainer">
  <div id="formContainer">

  <select name="country" #country (change)="onSelected(country.value)">
      <option value>Select country </option>
      <option *ngFor="let country of countryData ">{{country.countryName}}</option>
    </select>

      <input id="inputCity" placeholder="Enter city name">
      <button (click)="checkZone_AddCity()" >Add City</button>
  </div>
</div>
    
    <div class="p-4">
      <div class="rounded" id="map">
      </div>
    </div>

  
  <div class="parenttableContainer">
    <div id="tableContainer">
      <div class="table-responsive">
        <table class="table">
          <thead class="bg-dark text-light">
          <tr>
            <th>Country</th>
            <th>City</th>
            <th>Option</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let city of cityData">
            <td>{{ city.countryName }}</td>
            <td>{{ city.cityName }}</td>
            <td>
                <button id="updatebtn" (click)="updateCity()">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
