<div class="parentFormContainer">
    <div id="tableContainer">
        <div class="table-responsive">
            <table class="table">
                <thead class="bg-light text-dark">
                    <tr>
                        <th><pre>Req. ID</pre></th>
                        <th><pre>User ID</pre></th>
                        <th><pre>Username</pre></th>
                        <th><pre>Pick up Time</pre></th>
                        <th><pre>Pick up Address</pre></th>
                        <th><pre >Drop off Address</pre></th>
                        <th><pre>Service Type</pre></th>
                        <th><pre>Status</pre></th>
                        <th><pre>Assign</pre></th>
                        <th><pre>Action</pre></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let ride of ridesArray">
                        <!-- *ngFor="let ride of ridesArray| paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: count}; let i = index"> -->

                        <td>{{ ride._id }}</td>
                        <td>{{ ride.userId }}</td>
                        <td>{{ ride.userDetails.username }}</td>
                        <td>{{ ride.rideDate }}</td>
                        <td class="fixed-width">{{ ride.startLocation }}</td>
                        <td class="fixed-width">{{ ride.endLocation }}</td>
                        <td>{{ ride.serviceType }}</td>
                        <td [ngSwitch]="rideStatus">
                            <span class="badge statusbadge" *ngSwitchCase="'Accepted'">Accepted</span>
                            <span class="badge statusbadge" *ngSwitchCase="'Arrived'">Arrived</span>
                            <span class="badge statusbadge" *ngSwitchCase="'Picked'">Picked</span>
                            <span class="badge statusbadge" *ngSwitchCase="'Started'">Started</span>
                            <span class="badge statusbadge" *ngSwitchCase="'Completed'">Completed</span>
                            <span class="badge statusbadge"  style="font-size: 14px;" *ngSwitchDefault>Pending</span>
                        </td>
                        <!-- <td>
                            <button color="accent"
                                mat-button (click)="openInfoDialog(ride)"><mat-icon>info</mat-icon></button>
                        </td>                         -->
                        <td>
                            <button class="btn btn-primary" *ngIf="assignedDriverName">{{ assignedDriverName }}</button>
                            <button class="btn btn-primary"  (click)="openAssignDriverDialog(ride)" *ngIf="!assignedDriverName">Assign Driver</button>
                        </td>
                        <td>
                            <button [matMenuTriggerFor]="lvl2master" color="accent"
                                mat-button><mat-icon>edit</mat-icon></button>
                            <mat-menu #lvl2master="matMenu">
                                <!-- <button mat-menu-item *ngIf="!assignedDriverName" (click)="openAssignDriverDialog(ride)"><mat-icon>update</mat-icon>Assign Driver</button> -->
                                <button mat-menu-item (click)="openInfoDialog(ride)"><mat-icon>info</mat-icon>Ride Info</button>
                                <button mat-menu-item  (click)="deleteRide(ride._id)"><mat-icon>delete</mat-icon>Delete Ride</button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- ---------------------------------------------PAGINATION USING NGX-------------------------------------------- ----- -->
<div class="d-flex justify-content-center">
    <pagination-controls previousLabel nextLabel (pageChange)="onPageChange($event)" [maxSize]="5"
        [responsive]="true"></pagination-controls>
</div>
  
