<div class="parentFormContainer">
  <img src="../../assets/images/login-page.png" alt="">
  <div id="formContainer">
    <h2 class="mb-3">User Log in</h2>
    <form class="container" id="createForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Email</label>
        <input type="email" class="form-control" formControlName="email" required>
      </div>
      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Password</label>
        <input type="password" class="form-control" formControlName="password" required>
      </div>
      <div>
         <button type="submit" class="btn btn-primary w-100" id="submitBtn">Login</button>
      </div>
      <div id="forgotDiv">
        <a routerLinkActive="active" routerLink="/forgotpassword">forgot password ?</a>
        or
        <a routerLinkActive="active" routerLink="/signup">signup</a>
      </div>
    </form>
  </div>
</div>
