
  #map {
    height: 400px;
    width: 100%;
    border: 1px solid rgb(165, 165, 165);
    margin-top: 20px;
  }

  .parentFormContainer {
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #formContainer {
    align-items: center;
    justify-content: center;
  }


  #formContainer input {
    padding: 8px;
    width: 300px;
    margin: 10px;
  }

  #formContainer select {
    padding: 8px;
    width: 300px;
    margin: 10px;
  }

  #formContainer button {
    margin: 10px;
    padding: 8px 16px;
    background-color: #00bb06;
    color: white;
    border: none;
    cursor: pointer;
  }
  #pageSize{
    padding: 5px;
  }

  #formContainer button:hover {
    background-color: #007806;
  }

    
  @media screen and (max-width: 650px) {
    #parentFormContainer{
      display: block;
    }
    #formContainer{
      display: block;
    }
    #formContainer select{
      margin: 10px;
    }
    #formContainer input{
      margin: 10px;
    }
    #tableContainer {
      width: 90%;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 4px 4px 16px #000000;
      max-width: 600px;
      padding: 20px;
      margin: 40px;
    }
  }
  
  
.parenttableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tableContainer {
  width: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 16px #000000;
  /* max-width: 600px; */
  padding: 20px;
  margin: 40px;
}

.updateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5%;
}

.container {
  border-radius: 5px;
  box-shadow: 2px 2px 6px #000000;
  padding: 20px;
  transition: all linear 300ms;
}

.container:hover {
  transform: scale(1);
  transition: all linear 300ms;
  z-index: 1;
  box-shadow: 4px 4px 16px #00b3ff;
}


.table-responsive {
  overflow-x: auto;
}
@media (max-width: 360px) {
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    font-size: 14px;
  }
}


