<div class="parentFormContainer">
  <div id="formContainer">
  <form [formGroup]="cityForm"  >
  <select name="country" #country formControlName="countryname" (change)="onSelected(country.value)">
      <option value>Select country </option>
      <option *ngFor="let country of countryData " [value]="country._id">{{country.countryName}}</option>
    </select>
      <input id="inputCity" placeholder="Enter city name" formControlName="cityname">
      <button *ngIf="isaddbutton" (click)="checkZone_AddCity()">Add City</button>
      <button *ngIf="isupdatebutton" (click)="updateCity()">Update City</button>
    </form>
  </div>
</div>
    
    <div class="p-4">
      <div class="rounded" id="map">
    </div>
    </div>

  <!-- --------------------TABLE CONTAINER-------------------- -->
  <div class="parenttableContainer">
    <div id="tableContainer">
      <div class="table-responsive">
        <table class="table">
          <thead class="bg-dark text-light">
          <tr>
            <th>Country</th>
            <th>City</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let city of cityData">
            <td>{{ city.countryDetails.countryName }}</td>
            <td>{{ city.city }}</td>
            <td>
                <button id="updatebtn" (click)="editbtn(city._id, city)"><i class="fa-solid fa-pen-to-square" ></i>   </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
