
<div class="parentFormContainer">
  <img src="../../assets/images/forgot.webp" alt="">
  <div id="formContainer">
    <h2 class="mb-3">Forgot Password</h2>
    <form class="container" id="createForm" autocomplete="off">
      <div class="mb-3">
        <label  class="form-label d-flex justify-content-start">Email</label>
        <input type="email" class="form-control">
      </div>
      <div>
        <button type="submit" class="btn btn-primary w-100" id="submitBtn">Reset Password</button>
      </div>
      <div id="forgotDiv">
        <a routerLinkActive="active" routerLink="/login">login ?</a>
        or
        <a  routerLinkActive="active" routerLink="/signup">signup</a>
      </div>
    </form>
  </div>
</div>
