<!-- ---------------------------PAGINATION, SEARCH, SORT-------------------------------- -->
<div class="container">
  <div class="filter-section">
    <button id="showbtn"(click)="toggleFormVisibility()"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Add Users</button>
    
    <input type="text" id="search-input" placeholder="Search by ID, Name, Email, Phone..." [(ngModel)]="search" >
    <button id="searchbtn" (click)="getUserData()">Search</button>
    <select class="m-2" id="pageSize" [(ngModel)]="limit" (change)="onPageSizeChange($event)">
      <option value="5">Select Page</option>
      <!-- <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option> -->
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    <select id="filter-dropdown" [(ngModel)]="selectedSortBy" (change)="getUserData()">
      <option value="name">Name</option>
      <option value="email">Email</option>
      <option value="phone">Phone</option>
    </select>

    <select id="filter-dropdown"  [(ngModel)]="selectedSortOrder" (change)="getUserData()">
      <option value="desc">Sorting Order</option>
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
    
  </div>
</div>

    <!-- ---------------------------------------------ADD FORM--------------------------------------------- -->
    <div class="parentFormContainer">
        <div id="formContainer" *ngIf="AddbuttonForm">
        <h2 class="mb-3">User Registration</h2>
            <form class="container" [formGroup]="AddForm" (ngSubmit)="AddUser()">
                
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">User Name</label>
                  <input type="text" class="form-control" formControlName="username" placeholder="Enter Username"
                    [class.is-invalid]="AddForm.get('username')?.invalid && (AddForm.get('username')?.touched || AddForm.get('username')?.dirty)" />
                  <div *ngIf="AddForm.get('username')?.invalid && (AddForm.get('username')?.touched || AddForm.get('username')?.dirty)"
                    class="invalid-feedback">
                    <div *ngIf="AddForm.get('username')?.errors?.['required']">Name is required.</div>
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">User Email</label>
                  <input type="email" class="form-control" formControlName="useremail"  placeholder="Enter Email"
                    [class.is-invalid]="AddForm.get('useremail')?.invalid && (AddForm.get('useremail')?.touched || AddForm.get('useremail')?.dirty)" />
                  <div *ngIf="AddForm.get('useremail')?.invalid && (AddForm.get('useremail')?.touched || AddForm.get('useremail')?.dirty)"
                    class="invalid-feedback">
                    <div *ngIf="AddForm.get('useremail')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="AddForm.get('useremail')?.errors?.['email']">Please enter a valid email.</div>
                  </div>
                </div>

                <div class="parent mb-3">
                  <label class="form-label d-flex justify-content-start">Phone Number</label>
                  <div class="phone-input w-100">
                    <select class="form-control w-25" id="country-code" formControlName="countrycode" name="code" #code (change)="onSelected(code.value)">
                      <option value="">Select</option>
                      <option [value]="code" *ngFor="let code of countrycode">{{code}}</option>
                    </select>
                    <input type="tel" class="form-control" id="phone-number" formControlName="userphone" placeholder="Enter Phone"
                      maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                      [class.is-invalid]="AddForm.get('userphone')?.invalid && (AddForm.get('userphone')?.touched || AddForm.get('userphone')?.dirty)">
                    <div *ngIf="AddForm.get('userphone')?.invalid && (AddForm.get('userphone')?.touched || AddForm.get('userphone')?.dirty)"
                      class="invalid-feedback text-danger">
                      <div *ngIf="AddForm.get('userphone')?.errors?.['required']">Phone is required.</div>
                      <div *ngIf="AddForm.get('userphone')?.errors?.['minlength']">Phone number must be 10 digits.</div>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Upload Profile</label>
                  <input type="file" class="form-control" formControlName="profile"  name="profile" (change)="onFileSelected($event)"/>
                </div>

                <div>
                  <button type="submit" class="btn btn-primary w-100" id="submitBtn"> Submit</button>
                </div>
          </form>
        </div>
      </div>

      <!-- ---------------------------------------------UPDATE FORM--------------------------------------------- -->
      <div class="container-fluid" (mousemove)="resetTimer()">
        <div class="updateContainer py-4" *ngIf="updateForm">
          <div id="Container">
            <form class="container " [formGroup]="userupdateForm" (ngSubmit)="updateUSER()">

              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">User Name</label>
                <input type="text" class="form-control" formControlName="updateusername" placeholder="Enter Username"
                  [class.is-invalid]="userupdateForm.get('updateusername')?.invalid && (userupdateForm.get('updateusername')?.touched || userupdateForm.get('updateusername')?.dirty)" />
                <div *ngIf="userupdateForm.get('updateusername')?.invalid && (userupdateForm.get('updateusername')?.touched || userupdateForm.get('updateusername')?.dirty)"
                  class="invalid-feedback">
                  <div *ngIf="userupdateForm.get('updateusername')?.errors?.['required']">Name is required.</div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">User Email</label>
                <input type="email" class="form-control" formControlName="updateuseremail"  placeholder="Enter Email"
                  [class.is-invalid]="userupdateForm.get('updateuseremail')?.invalid && (userupdateForm.get('updateuseremail')?.touched || userupdateForm.get('updateuseremail')?.dirty)" />
                <div *ngIf="userupdateForm.get('updateuseremail')?.invalid && (userupdateForm.get('updateuseremail')?.touched || userupdateForm.get('updateuseremail')?.dirty)"
                  class="invalid-feedback">
                  <div *ngIf="userupdateForm.get('updateuseremail')?.errors?.['required']">Email is required.</div>
                  <div *ngIf="userupdateForm.get('updateuseremail')?.errors?.['email']">Please enter a valid email.</div>
                </div>
              </div>

              <div class="parent mb-3">
                <label class="form-label d-flex justify-content-start">Phone Number</label>
                <div class="phone-input w-100">
                  <select class="form-control w-25" id="country-code" name="code" #code (change)="onSelected(code.value)" formControlName="updatecountrycode">
                    <!-- <option value="+91" selected>+91</option> -->
                    <option [value]="code" *ngFor="let code of countrycode">{{code}}</option>
                  </select>
                  <input type="tel" class="form-control" id="phone-number" formControlName="updateuserphone" placeholder="Enter Phone"
                    maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                    [class.is-invalid]="userupdateForm.get('updateuserphone')?.invalid && (userupdateForm.get('updateuserphone')?.touched || userupdateForm.get('updateuserphone')?.dirty)">
                  <div *ngIf="userupdateForm.get('updateuserphone')?.invalid && (userupdateForm.get('updateuserphone')?.touched || AddForm.get('updateuserphone')?.dirty)"
                    class="invalid-feedback text-danger">
                    <div *ngIf="userupdateForm.get('updateuserphone')?.errors?.['required']">Phone is required.</div>
                    <div *ngIf="userupdateForm.get('updateuserphone')?.errors?.['minlength']">Phone number must be 10 digits.</div>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">Profile</label>
                <input type="file" class="form-control" (change)="onFileSelected($event)" />
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success w-50 m-2 " id="userupdate"><i class="fa-solid fa-thumbs-up"></i>&nbsp; Update
                </button>
                <button type="button" class="w-50 m-2 btn btn-danger" id="updateCancel" (click)="updateCancel()"> Cancel &nbsp;<i class="fa fa-user-times" aria-hidden="true"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  

  <!-- ---------------------------------------------TABLE--------------------------------------------- -->  
    <div class="parentFormContainer">
      <div id="tableContainer">
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-light text-dark">
            <tr>
              <th>Profile</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersArray" >
                <!-- <td><img src="http://localhost:4000/{{ user.profile}}" alt="user-profile"></td> -->
                <td><img src="http://eberride-env.eba-83w3w3ik.ap-south-1.elasticbeanstalk.com/{{ user.profile}}" alt="user-profile"></td>
                <td>{{ user.username }}</td>
                <td>{{ user.useremail }}</td>
                <td>{{user.countrycode + " " + user.userphone}}</td>
                <td> 
                  <button [matMenuTriggerFor]="lvl2master" color="accent"  mat-button><mat-icon>edit</mat-icon></button>
                  <mat-menu #lvl2master="matMenu">
                      <button mat-menu-item id="updatebtn" (click)="updateBtnClick(user)"><mat-icon>update</mat-icon>Update</button>
                      <button mat-menu-item id="deletebtn" (click)="deleteUser(user._id)"><mat-icon>delete_forever</mat-icon>Delete</button>
                      <button mat-raised-button  (click)="openDialog(user)" >
                        <mat-icon>credit_card</mat-icon> Add Card
                      </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- ---------------------------PAGINATION-------------------------------- -->
        <div class="pagination d-flex justify-content-center" id="parentpagination">
          <div class="pagination table-responsive rounded">
            <button class="page-link" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i> Previous
            </button>
            <ng-container *ngFor="let page of getPagesArray()">
              <button class="page-link"
                      [class.active]="page === currentPage"
                      (click)="onPageChange(page)">
                {{ page }}
              </button>
            </ng-container>
            <button class="page-link" [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">
              Next <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
    
    
      </div>
    </div>


