<div class="parentFormContainer">
  <div id="formContainer">
    <h2 class="mb-3">User Registration</h2>

    <form class="container" [formGroup]="myForm" (ngSubmit)="submitForm()">

      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Name</label>
        <input type="text" class="form-control" formControlName="adminName"
          [class.is-invalid]="myForm.get('adminName')?.invalid && (myForm.get('adminName')?.touched || myForm.get('adminName')?.dirty)" />
        <div *ngIf="myForm.get('adminName')?.invalid && (myForm.get('adminName')?.touched || myForm.get('adminName')?.dirty)"
          class="invalid-feedback">
          <div *ngIf="myForm.get('adminName')?.errors?.['required']">Name is required.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Email</label>
        <input type="email" class="form-control" formControlName="email"
          [class.is-invalid]="myForm.get('email')?.invalid && (myForm.get('email')?.touched || myForm.get('email')?.dirty)" />
        <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.touched || myForm.get('email')?.dirty)"
          class="invalid-feedback">
          <div *ngIf="myForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="myForm.get('email')?.errors?.['email']">Please enter a valid email.</div>
        </div>
      </div>
      
      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Password</label>
        <input type="password" class="form-control" formControlName="password"
          [class.is-invalid]="myForm.controls['password'].invalid && (myForm.controls['password'].touched || myForm.controls['password'].dirty)">
        <div *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].touched || myForm.controls['password'].dirty)"
          class="invalid-feedback">
          <div *ngIf="myForm.controls['password'].hasError('required')">Password is required.</div>
          <div *ngIf="myForm.controls['password'].hasError('minlength')">Password must be at least 8 characters long.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Confirm Password</label>
        <input type="text" class="form-control" formControlName="cnfpassword"
          [class.is-invalid]="myForm.controls['cnfpassword'].invalid && (myForm.controls['cnfpassword'].touched || myForm.controls['cnfpassword'].dirty)">
        <div *ngIf="myForm.controls['cnfpassword'].invalid && (myForm.controls['cnfpassword'].touched || myForm.controls['cnfpassword'].dirty)"
          class="invalid-feedback">
          <div *ngIf="myForm.controls['cnfpassword'].hasError('required')">Password is required.</div>
          <div *ngIf="myForm.controls['cnfpassword'].hasError('minlength')">Password must be at least 8 characters long.</div>
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary w-100" id="submitBtn">
          Submit
        </button>
      </div>
      <div id="login">
        Already have an account ?
        <a routerLinkActive="active" routerLink="/login">Login</a>
      </div>
    </form>
  </div>

</div>
