<div class="d-flex justify-content-between  px-5" id="button-search-div">
  <div class="btn d-flex align-items-center">
    <button class="btn btn-primary" id="showbtn" [hidden]="!showButton" (click)="toggleFormVisibility()">
      <i class="fa fa-inr" aria-hidden="true"></i>
      &nbsp; Add Pricing
    </button>
  </div>
  
  <!-- ------------------------------------------------SHOW DATA--AND--SEARCH------------------------------------------------>
  <div class="d-flex justify-content-center align-items-center">
    <label for="pageSize">Show Data :</label>
    <div class="custom-select">
      <select class="form-control m-2" id="pageSize" [(ngModel)]="limit" (change)="onPageSizeChange($event)">
        <option [ngValue]="">Select Page</option>
        <!-- <option value="1">1</option> -->
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <i class="fas fa-chevron-down dropdown-icon"></i>
    </div>
    <!-- <input type="text" class="form-control w-25 m-4" placeholder="Search.." [(ngModel)]="searchValue" (input)="searchPrice()"> -->
  </div>
</div>

    <!-- -----------------------------------------VEHICLE PRICING---------------------------------------------------- -->
    <div class="parentFormContainer">
      <div id="formContainer" *ngIf="addForm">
        <h2 class="mb-3">Add Vehicle Pricing</h2>
        <form class="container" [formGroup]="pricingForm"  (ngSubmit)="onSubmit()">


          <div class="form-group row align-items-center mb-2">
            <label class="col-sm-3 col-form-label text-end">Country</label>
            <div class="col-sm-9 form-custom-select" *ngIf="!isEditMode">
              <select class="form-control" id="country-name" name="country" #country (change)="onSelectedCountry(country.value)" formControlName="country">
                <option value="">Select Country</option>
                <option [value]="country._id" *ngFor="let country of countriesname">{{country.countryName}}</option>
              </select>
              <i class="fas fa-chevron-down form-dropdown-icon"></i>
            </div>
            <div class="col-sm-9" *ngIf="isEditMode">
              <input class="form-control" type="text" id="country-name" name="country" formControlName="country" [ngStyle]="{ 'background-color': '#e8e7e3' }" readonly>
            </div>
          </div>
          

          <div class="form-group row align-items-center mb-2">
            <label class="col-sm-3 col-form-label text-end">City</label>
            <div class="col-sm-9 form-custom-select" *ngIf="!isEditMode">
              <select class="form-control" id="city-name" name="city" #city (change)="onSelectedCity(city.value)" formControlName="city">
                <option value="">Select City</option>
                <option [value]="city._id" *ngFor="let city of citiesname">{{city.city}}</option>
              </select>
              <i class="fas fa-chevron-down form-dropdown-icon"></i>
            </div>
            <div class="col-sm-9" *ngIf="isEditMode">
              <input class="form-control" type="text" id="city-name" name="city" formControlName="city"  [ngStyle]="{ 'background-color': '#e8e7e3' }" readonly>
            </div>
          </div>
          

          <div class="form-group row align-items-center mb-2">
            <label class="col-sm-3 col-form-label text-end">Type</label>
            <div class="col-sm-9 form-custom-select" *ngIf="!isEditMode">
              <select class="form-control" name="service" #service (change)="onSelectedVehicle(service.value)" formControlName="service">
                <option value="">Select Service</option>
                <option [value]="service._id" *ngFor="let service of serviceData">{{service.vehicleName}}</option>
              </select>
              <i class="fas fa-chevron-down form-dropdown-icon"></i>
            </div>
            <div class="col-sm-9" *ngIf="isEditMode">
              <input class="form-control" type="text" name="service" formControlName="service" [ngStyle]="{ 'background-color': '#e8e7e3' }" readonly>
            </div>
          </div>
          
    
          <div class="form-group row align-items-center mb-2">
            <label class="col-sm-3 col-form-label text-end">Driver's Profit</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="driverprofit" placeholder="Driver Profit" 
              maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
              [class.is-invalid]="pricingForm.get('driverprofit')?.invalid && (pricingForm.get('driverprofit')?.touched || pricingForm.get('driverprofit')?.dirty)"/>
              <div *ngIf="pricingForm.get('driverprofit')?.invalid && (pricingForm.get('driverprofit')?.touched || pricingForm.get('driverprofit')?.dirty)"
              class="invalid-feedback">
              <div *ngIf="pricingForm.get('driverprofit')?.errors?.['required']">Field is required.</div>
            </div>
            </div>
          </div>
  
          <div class="form-group row align-items-center mb-2">
            <label class="col-sm-3 col-form-label text-end">Min. Fare</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="minfare" placeholder="Minimum Fare" 
              maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
              [class.is-invalid]="pricingForm.get('minfare')?.invalid && (pricingForm.get('minfare')?.touched || pricingForm.get('minfare')?.dirty)"/>
              <div *ngIf="pricingForm.get('minfare')?.invalid && (pricingForm.get('minfare')?.touched || pricingForm.get('minfare')?.dirty)"
              class="invalid-feedback">
              <div *ngIf="pricingForm.get('minfare')?.errors?.['required']">Field is required.</div>
            </div>
            </div>
          </div>
  
          <div class="form-group row align-items-center">
            <label class="col-sm-3 col-form-label text-end">Distance For Base Price</label>
            <div class="col-sm-9 form-custom-select">
              <select class="form-control" name="distancebaseprice" #distancebaseprice (change)="onSelectDistance(+distancebaseprice.value)" formControlName="distancebaseprice" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                <option value="">Select Distance</option>
                <option [value]="distvalue" *ngFor="let distvalue of distbasePriceArray">{{distvalue}} Km</option>
              </select>
              <i class="fas fa-chevron-down form-dropdown-icon"></i>
            </div>
          </div>
  
          <div class="form-group row align-items-center">
            <label class="col-sm-3 col-form-label text-end">Base Price</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="baseprice" placeholder="Base Price"
               maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
               [class.is-invalid]="pricingForm.get('baseprice')?.invalid && (pricingForm.get('baseprice')?.touched || pricingForm.get('baseprice')?.dirty)"/>
               <div *ngIf="pricingForm.get('baseprice')?.invalid && (pricingForm.get('baseprice')?.touched || pricingForm.get('baseprice')?.dirty)"
              class="invalid-feedback">
              <div *ngIf="pricingForm.get('baseprice')?.errors?.['required']">Field is required.</div>
               </div>
            </div>
          </div>
  
          <div class="form-group row align-items-center">
            <label class="col-sm-3 col-form-label text-end">Price Per Unit Distance</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="ppudist" placeholder="Price Per Unit Distance" 
              maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
              [class.is-invalid]="pricingForm.get('ppudist')?.invalid && (pricingForm.get('ppudist')?.touched || pricingForm.get('ppudist')?.dirty)"/>
              <div *ngIf="pricingForm.get('ppudist')?.invalid && (pricingForm.get('ppudist')?.touched || pricingForm.get('ppudist')?.dirty)"
              class="invalid-feedback">
              <div *ngIf="pricingForm.get('ppudist')?.errors?.['required']">Field is required.</div>
               </div>
            </div>
          </div>

          <div class="form-group row align-items-center">
            <label class="col-sm-3 col-form-label text-end">Price Per Unit Time(min)</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="pputime" placeholder="Price Per Unit Time(min)"
               maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
               [class.is-invalid]="pricingForm.get('pputime')?.invalid && (pricingForm.get('pputime')?.touched || pricingForm.get('pputime')?.dirty)"/>
               <div *ngIf="pricingForm.get('pputime')?.invalid && (pricingForm.get('pputime')?.touched || pricingForm.get('pputime')?.dirty)"
              class="invalid-feedback">
              <div *ngIf="pricingForm.get('pputime')?.errors?.['required']">Field is required.</div>
               </div>
            </div>
          </div>
  
          <div class="form-group row align-items-center">
            <label class="col-sm-3 col-form-label text-end">Max Space</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="maxspace" placeholder="Max Space" 
              maxlength="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
              [class.is-invalid]="pricingForm.get('maxspace')?.invalid && (pricingForm.get('maxspace')?.touched || pricingForm.get('maxspace')?.dirty)"/>
              <div *ngIf="pricingForm.get('maxspace')?.invalid && (pricingForm.get('maxspace')?.touched || pricingForm.get('maxspace')?.dirty)"
              class="invalid-feedback">
              <div *ngIf="pricingForm.get('maxspace')?.errors?.['required']">Field is required.</div>
               </div>
            </div>
          </div>
    
          <div class="form-group row mt-3">
            <div class="col-sm-9 offset-sm-3 d-flex justify-content-between">
              <button type="submit" class="btn btn-success" [hidden]="isEditMode"> Submit</button>
              <button type="submit" class="btn btn-info" [hidden]="!isEditMode"> Update</button>
              <button type="button" class="btn btn-secondary" (click)="CancelForm()"> Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- --------------------------------------------------PRICING DATA TABLE------------------------------------------------ -->
    <div class="parentFormContainer">
      <div id="tableContainer">
      <div class="table-responsive bg-light">
        <table class="table">
          <thead class="bg-dark text-light">
          <tr>
            <th>country</th>
            <th>city</th>
            <th>service</th>
            <th>driverprofit</th>
            <th>minfare</th>
            <th>distancebaseprice</th>
            <th>baseprice</th>
            <th>ppudist</th>
            <th>pputime</th>
            <th>maxspace</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let values of valueArray">
            <td>{{ values.countryDetails?.countryName }}</td>
            <td>{{ values.cityDetails?.city }}</td>
            <td>{{ values.serviceDetails?.vehicleName }}</td>
            <td>{{ values?.driverprofit }}</td>
            <td>{{ values?.minfare }}</td>
            <td>{{ values?.distancebaseprice }}</td>
            <td>{{ values?.baseprice }}</td>
            <td>{{ values?.ppudist }}</td>
            <td>{{ values?.pputime }}</td>
            <td>{{ values?.maxspace }}</td>
            <td> 
              <button [matMenuTriggerFor]="lvl2master" color="accent"  mat-button><mat-icon>edit</mat-icon></button>
              <mat-menu #lvl2master="matMenu">
                  <button mat-menu-item id="updatebtn" (click)="editbtn(values)"><mat-icon>update</mat-icon>Edit</button>
                  <button mat-menu-item id="deletebtn" (click)="deleteValues(values._id)"><mat-icon>delete_forever</mat-icon>Delete</button>
              </mat-menu>
          </td>
          </tr>
          </tbody>
        </table>
      </div>

          <!-- ---------------------------------------------PAGINATION------------------------------------------------------- -->
      <div class="pagination d-flex justify-content-center" id="parentpagination">
        <div class="pagination table-responsive rounded">
          <button class="page-link" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Previous
          </button>
          <ng-container *ngFor="let page of getPagesArray()">
            <button class="page-link"
                    [class.active]="page === currentPage"
                    (click)="onPageChange(page)">
              {{ page }}
            </button>
          </ng-container>
          <button class="page-link" [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">
            Next <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>
  