/* @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .info-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e2acffa6;
    border: 1px solid #ffffff;
    border-radius: 4px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  
  .info-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #830fff;
    color: white;
    cursor: pointer;
  }
  
  .info-button:hover {
    background-color: #fff;
  }
  
  .info-button:focus {
    outline: none;
  } */


  .info-component{
    overflow: hidden;
  }
  .ride-details-dialog {
    text-align: center;
  }
  
  .ride-details {
    margin-bottom: 10px;
  }
  
  .details-key {
    font-weight: bold;
    white-space: nowrap;
  }
  .details-value{
    white-space: nowrap;

  }
  .info-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #830fff;
    color: white;
    cursor: pointer;
  }

  .fit-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
  }

  
  @media (max-width: 767px) {
    .ride-details-dialog {
      padding: 20px;
    }
  }