<div class="container p-4">
  <!-- ----------------------------------------TABLE------------------------------------------------- -->
  <div class="parentFormContainer">
    <div id="tableContainer">
      <div class="table-responsive">
        <table class="table">
          <thead class="bg-light text-dark">
            <tr>
              <th>Request ID</th>
              <th>Pick up Time</th>
              <th>Pick up Address</th>
              <th>Drop off Address</th>
              <th>Service Type</th>
              <th>Estimate Fare</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of assignedArray">
              <td>{{data._id}}</td>
              <td>{{data.rideDate + "    " +data.time }}</td>
              <td>{{data.startLocation}}</td>
              <td>{{data.endLocation}}</td>
              <td>{{data.serviceType}}</td>
              <td>{{data.estimateFare}}</td>
              <td class="d-flex gap-3">
                <button class="btn btn-success">Accept Ride</button>
                <button class="btn btn-warning" (click)="rejectRide(data)">Reject Ride</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
