
#map {
  height: 400px;
  width: 100%;
  border: 1px solid rgb(165, 165, 165);
}

.search-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 8px;
  width: 300px;
  margin-right: 10px;
}

.search-container button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #45a049;
}
