<button class="mt-4 btn btn-success" id="showbtn"(click)="toggleFormVisibility()"><i class="fa fa-user-plus" aria-hidden="true"></i>Add Users</button>



    <!-- Your form content goes here -->
    <div class="parentFormContainer">
        <div id="formContainer" *ngIf="AddbuttonForm">
        <h2 class="mb-3">Client Registration</h2>
            <form class="container" [formGroup]="AddForm" (ngSubmit)="AddUser()">
                
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Name</label>
                  <input type="text" class="form-control" formControlName="username" placeholder="Enter Username"/>
                </div>
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Email</label>
                  <input type="email" class="form-control" formControlName="useremail" placeholder="Enter Email"/>
                </div>
                <div class="dropdown mb-3">
                  <label class="form-label d-flex justify-content-start">Country Code</label>
                  <select class="form-label d-flex justify-content-start form-control" name="code" #code (change)="onSelected(code.value)">
                    <option value="">Select country code</option>
                    <option  [value]="code" *ngFor="let code of countrycode ">{{code}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Phone</label>
                  <input type="tel" class="form-control" formControlName="userphone" placeholder="Enter Phone" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                </div>
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Upload Profile</label>
                    <input type="file" class="form-control" formControlName="profile"  name="profile" (change)="onFileSelected($event)"/>
                  </div>
                <div>
                  <button type="submit" class="btn btn-primary w-100" id="submitBtn"> Submit</button>
                </div>
          </form>
        </div>
      </div>


      <div class="container-fluid" (mousemove)="resetTimer()">
        <div class="updateContainer py-4" *ngIf="updateForm">
          <div id="Container">
            <form class="container" [formGroup]="userupdateForm" (ngSubmit)="updateUSER()">

              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">Name</label>
                <input type="text" class="form-control" formControlName="updateusername" />
              </div>
              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">Email</label>
                <input type="email" class="form-control" formControlName="updateuseremail" />
              </div>
              <div class="dropdown mb-3">
                <label class="form-label d-flex justify-content-start">Country Code</label>
                <select class="form-label d-flex justify-content-start form-control" name="code" #code (change)="onSelected(code.value)"  formControlName="updatecountrycode">
                  <option  [value]="code" *ngFor="let code of countrycode ">{{code}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">Phone</label>
                <input type="tel" class="form-control" formControlName="updateuserphone" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
              </div>
              <div class="mb-3">
                <label class="form-label d-flex justify-content-start">Profile</label>
                <input type="file" class="form-control" (change)="onFileSelected($event)" />
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success w-50 m-2 " id="userupdate"><i class="fa-solid fa-thumbs-up"></i>&nbsp; Update
                </button>
                <button type="button" class="w-50 m-2 btn btn-danger" id="updateCancel" (click)="updateCancel()"> Cancel &nbsp;<i class="fa fa-user-times" aria-hidden="true"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  


  <div class="mt-5">
    <div class="d-flex justify-content-center align-items-center">
    <label for="pageSize">Show Data :</label>
    <select class="form-control w-25 m-2" id="pageSize" [(ngModel)]="tableSize" (change)="onPageSizeChange($event)">
      <option [ngValue]="null">Select Page</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <input type="text" class="form-control w-25 m-3" placeholder="Search by Name, Email, Phone..." [(ngModel)]="searchValue" (input)="searchUsers()">
    </div>
  </div>

    <div class="parentFormContainer">
      <div id="tableContainer">
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-light text-dark">
            <tr>
              <th>Profile</th>
              <th>Name</th>
              <th>Email</th>
              <th>Country Code</th>
              <th>Phone</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of usersArray | paginate: { itemsPerPage: tableSize, currentPage: page,totalItems: count };let i = index">
              <td><img src="http://localhost:4000/{{ user.profile}}" alt=""></td>
              <td>{{ user.username }}</td>
              <td>{{ user.useremail }}</td>
              <td>{{ user.countrycode }}</td>
              <td>{{ user.userphone }}</td>
              <td>
                <button id="updatebtn" (click)="updateBtnClick(user)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </td>
              <td>
                <button id="deletebtn" (click)="deleteAdmin(user._id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- Pagination -->
    <div class="d-flex justify-content-center">
      <pagination-controls previousLabel nextLabel (pageChange)="onPageChange($event)" [maxSize]="5" [responsive]="true">
      </pagination-controls>
    </div>

    <!-- <div class="pagination">
      <button class="page-link" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
      <span class="page-link">{{ currentPage }}</span>
      <button class="page-link" [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">Next</button>
    </div> -->