<button mat-button mat-stroked-button color="primary" id="showbtn"
        (click)="toggleFormVisibility()">
        <mat-icon>add_circle</mat-icon> Add Users
</button>



    <!-- Your form content goes here -->
    <div class="parentFormContainer">
        <div id="formContainer" *ngIf="AddbuttonForm">
        <h2 class="mb-3">Client Registration</h2>
            <form class="container" [formGroup]="AddForm" (ngSubmit)="AddUser()">
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Upload Profile</label>
                    <input type="file" class="form-control" formControlName="profile" required/>
                  </div>
                <div class="mb-3">
                  <!-- <label class="form-label d-flex justify-content-start">Name</label> -->
                  <input type="text" class="form-control" formControlName="username" placeholder="Enter Username" required/>
                </div>
                <div class="mb-3">
                  <!-- <label class="form-label d-flex justify-content-start">Email</label> -->
                  <input type="email" class="form-control" formControlName="useremail" placeholder="Enter Email" required/>
                </div>
                <div class="mb-3">
                  <label class="form-label d-flex justify-content-start">Country Code</label>
                  <input type="number" class="form-control" formControlName="countrycode" required/>
                </div>
                <div class="mb-3">
                  <input type="tel" class="form-control" formControlName="userphone" placeholder="Enter Phone" required/>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary w-100" id="submitBtn">
                    Submit
                  </button>
                </div>
          </form>
        </div>
      </div>


<div class="container-fluid" (mousemove)="resetTimer()">
    <div class="updateContainer py-4" *ngIf="updateForm">
      <div id="Container">
        <form class="container" [formGroup]="adminUpdateForm" (ngSubmit)="adminUpdate(selectedUSER._id)">
          <div class="mb-3">
            <label class="form-label d-flex justify-content-start">Profile</label>
            <input type="file" class="form-control" formControlName="profile" [(ngModel)]="selectedUSER.profile" />
          </div>
          <div class="mb-3">
            <label class="form-label d-flex justify-content-start">Name</label>
            <input type="text" class="form-control" formControlName="username" [(ngModel)]="selectedUSER.username" />
          </div>
          <div class="mb-3">
            <label class="form-label d-flex justify-content-start">Email</label>
            <input type="email" class="form-control" formControlName="useremail" [(ngModel)]="selectedUSER.useremail" />
          </div>
          <div class="mb-3">
            <label class="form-label d-flex justify-content-start">Country Code</label>
            <input type="tel" class="form-control" formControlName="countrycode" [(ngModel)]="selectedUSER.countrycode" />
          </div>
          <div class="mb-3">
            <label class="form-label d-flex justify-content-start">Phone</label>
            <input type="tel" class="form-control" formControlName="userphone" [(ngModel)]="selectedUSER.userphone" />
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary w-25" id="userupdate">
              <i class="fa-solid fa-thumbs-up"></i>
            </button>
            <button type="button" class="w-25 btn btn-danger" id="updateCancel" (click)="updateCancel()">
              <i class="fa-solid fa-thumbs-down"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  
    <div class="parentFormContainer">
      <div id="formContainer">
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-dark text-light">
            <tr>
              <th>Profile</th>
              <th>Name</th>
              <th>Email</th>
              <th>Country Code</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of usersArray">
              <td>{{ user.profile }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.useremail }}</td>
              <td>{{ user.countrycode }}</td>
              <td>{{ user.userphone }}</td>
              <td>
                <button id="updatebtn" (click)="updateBtnClick(user._id)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </td>
              <td>
                <button id="deletebtn" (click)="deleteAdmin(user._id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  <!-- <div>
    <h2>User Component</h2>
    <form (submit)="addUser()">
      <label for="profile">Profile:</label>
      <input type="text" id="profile" [(ngModel)]="newUser.profile" required>
  
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="newUser.name" required>
  
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="newUser.email" required>
  
      <label for="phone">Phone:</label>
      <input type="text" id="phone" [(ngModel)]="newUser.phone" required>
  
      <label for="countryCode">Country Code:</label>
      <input type="text" id="countryCode" [(ngModel)]="newUser.countryCode" required>
  
      <button type="submit">Add User</button>
    </form>
  
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  
    <table>
      <thead>
        <tr>
          <th>Profile</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Country Code</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.profile }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.countryCode }}</td>
          <td>
            <div class="dropdown">
              <button class="dropbtn">Actions</button>
              <div class="dropdown-content">
                <a (click)="editUser(user)">Edit</a>
                <a (click)="deleteUser(user)">Delete</a>
                <a (click)="openCardsModal(user)">Cards</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->