


  h1 {
    font-family: cursive;
    padding: 40px;
    color: white;
  }
  
  .parentFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #formContainer {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 16px #000000;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    margin: 40px;
  }
  
  /* input {
    width: 100%;
    padding: 5px;
  } */
  #search-input {
    flex-grow: 1;
    padding: 5px;
  }
  
  #showbtn {
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(67, 113, 228);
    border: 1px solid black;
  }
  #searchbtn{
    padding: 6px;
    background-color: #7200c4;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  #showbtn:hover {
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .dropdown {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .dropdown select {
    width: 100%;
    padding: 5px;
  }
  
  @media screen and (max-width: 480px) {
    #formContainer {
      width: 90%;
      margin: 20px;
    }
  }
  
  @media screen and (max-width: 780px) {
    #formContainer {
      width: 80%;
      margin: 20px;
    }
  }
  
  .card-container {
    width: 100%;
    margin-top: 5%;
  }
  
  #card-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    border-radius: 8px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 200px;
    height: 270px;
    transition: all linear 200ms;
    margin: 10px;
  }
  
  .card:hover {
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  @media screen and (max-width: 580px) {
    .card {
      width: 90%;
      height: auto;
    }

    .card img {
      min-width: 100%;
      min-height: 100%;
    }
  }


