<!-- -------------------------------------------------MAIN DIV---------------------------------------------- -->
<div class="main-div">
    <mat-card class="left-card">
      <mat-card-content>
        <!-- -------------------------------------------------USER DETAILS FORM------------------------------------------------ -->
        <form [formGroup]="userForm" (ngSubmit)="getUserDetails()">
          <select class="form-select country-code" formControlName="countrycode">
            <option value="+91" selected>+91</option>
            <option value="{{code}}" *ngFor="let code of countryCodes">{{code}}</option>
          </select>

            <input type="text" class="form-control number" formControlName="userphone"
            (input)="filterPhone($event)" placeholder="Enter 10 digit phone number">

          <button class="btn get-details" type="submit" [disabled]="!userForm.valid">Get Details</button>
        </form>
  
        <!-- ---------------USER DETAILS CARD------------------- -->
        <div class="card my-2" *ngIf="isUser">
          <div class="card-body">
            <div class="row p-2">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userArray.username}}</p>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userArray.useremail}}</p>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userArray.countrycode}}&nbsp;{{userArray.userphone}}</p>
              </div>
            </div>
            <button class="btn btn-primary get-detail" style="float: right; width: 100px;"
              (click)="addTravelForm()">Next</button>
          </div>
        </div>
        
        <!-- ------------------TRAVEL DETAILS FORM------------------- -->
        <div class="mt-4" *ngIf="!isNext">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="travelForm" (ngSubmit)="calculateRoute()">
                <h3 class="card-title">Fill Ride Details</h3>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1">
                    <label for="startInput">Starting Point</label>
                  </div>
                  <input type="text" class="form-control" id="startInput" placeholder="Enter starting point" #startInput
                  (change)="startInputChange()" formControlName="start">
                  <div *ngIf="(travelForm.controls.start.errors && travelForm.get('start')?.touched)|| travelForm.get('start')?.dirty"
                  class="my-1">
                  <div class="d-flex align-items-center" *ngIf="travelForm.controls.start.errors">
                    <div *ngIf="travelForm.controls.start.errors['required']" style="color: red;">
                      Please enter starting point!
                    </div>
                  </div>
                </div>
                <div>
                  <div *ngIf="!isInZone" style="color: red;">
                    Service Not Available!
                  </div>
                </div>
                </div>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1">
                    <label for="endInput" class="form-label">Destination</label>
                  </div>
                  <input type="text" class="form-control" id="endInput" placeholder="Enter destination" #endInput
                  formControlName="end">
                  <div
                  *ngIf="(travelForm.controls.end.errors && travelForm.get('end')?.touched)|| travelForm.get('end')?.dirty"
                  class="my-1">
                  <div *ngIf="travelForm.controls.end.errors">
                    <div class="d-flex align-items-center" *ngIf="travelForm.controls.end.errors['required']" style="color: red;">
                      Please enter destination!
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- ------------------WAY POINT------------------- -->
              <div class="mb-3">
                <div class="d-flex align-items-center mb-1">
                  <label for="waypoint" class="form-label">Way point</label>
                </div>
                <div class="d-flex gap-2">
                  <input type="text" placeholder="Enter Stops" #waypointInput id="waypoint" class="form-control">
                    <button (click)="addWaypoint()" class="btn add-stops" [disabled]="stops ==stopsCounter"
                      type="button">Add</button>
                  </div>
                </div>
  
                <div class="mb-3">
                  <div *ngFor="let waypoint of waypointsArray; let i = index" class=" d-flex gap-2 mb-2">
                    <input type=" text" [value]="waypoint" disabled class="form-control" id="added-waypoint">
                    <button (click)="removeWaypoint(i)" class="btn btn-danger">Remove</button>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <button type="reset" class="btn btn-danger mb-2"  (click)="close()">Close</button> 
                  <button type="submit" class="btn btn-info mb-2" [disabled]="!travelForm.valid"
                  #directionBtn>Calculate</button>
                </div>
              </form>
            </div>
          </div>
        </div>
  
      </mat-card-content>
    </mat-card>
  
    <!-- ------------------------------------------------RIGHT SIDE DIV----------------------------------------------- -->
    <div class="right-div">
      <div id="map"></div>
  
      <mat-card *ngIf="isRoute && isInZone" class="rightDivForm">
        <div class="list-group mb-2">
          <a class="list-group-item list-group-item-action">Estimate Distance : {{totalDistance}} Km</a>
          <a class="list-group-item list-group-item-action">Estimate Time :
            {{totalHours }} hours {{ totalMinutes }} minutes</a>
          <a class="list-group-item list-group-item-action"
            *ngFor="let pricing of vehiclesPricing">{{pricing.service.vehicleName|titlecase}} |
            Estimate Fare : {{pricing.estimateFare}}</a>
          <a class="list-group-item list-group-item-action" *ngIf="vehiclesPricing.length == 0" style="color: red;">No
            service type available
            right now!</a>
        </div>
  
        <div class="list-group rounded">
          <form [formGroup]="rideForm" (ngSubmit)="onBookRide()" >
            <a class="list-group-item list-group-item-action">
              <select class="form-select" id="serviceType" #serviceType (change)="onSelectServiceType(serviceType.value)"
                formControlName="serviceType">
                <option value="">Select service type</option>
                <option value="{{pricing.service.vehicleName}}" *ngFor="let pricing of vehiclesPricing">
                  {{pricing.service.vehicleName|titlecase}}
                </option>
              </select>
            </a>
  
            <a class="list-group-item list-group-item-action">
              <p>Select payment option</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="paymentOption" id="cashP" value="cash"
                  formControlName="paymentOption">
                <label class="form-check-label" for="cashP">Cash</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="paymentOption" id="schedule" value="card"
                  formControlName="paymentOption">
                <label class="form-check-label" for="schedule">Card</label>
              </div>
            </a>
  
            <a class="list-group-item list-group-item-action">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rideTime" value="bookNow"
                  (change)="handleRadioChange()" formControlName="rideTime" [(ngModel)]="selectedOption">
                <label class="form-check-label" for="bookNow">Book Now</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="selectedOption" name="rideTime" value="schedule"
                  (change)="handleRadioChange()" formControlName="rideTime">
                <label class="form-check-label" for="schedule">Schedule</label>
              </div>
              <button type="button" type="submit" class="btn mx-3 bookbtn" [disabled]="!rideForm.valid || !isDateTimeValid">Confirm
                Ride</button>
            </a>
          </form>
  
          <a class="list-group-item list-group-item-action">
            <div class="d-flex gap-5">
              <input type="date" class="form-control" [(ngModel)]="selectedDate" [disabled]="selectedOption === 'bookNow'"
                (change)="onselecteddate()" min="{{ minDate }}">
              <input type="time" class="form-control" [(ngModel)]="selectedTime" [disabled]="selectedOption === 'bookNow'"
                (input)="onselectedtime()" [min]="minTime">
            </div>
          </a>
  
        </div>
      </mat-card>
  
      <!-- <div id="summary-panel"> </div> -->
    </div>
  
  </div>