/* @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fasthand&family=Noto+Sans+Vai&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap'); */


.main-div {
    font-family: 'Poppins', sans-serif;
    padding: 0px 1em;
    margin: 1em 0px;
    /* background-color: rgba(0, 0, 0, 0.868); */
  }
  
  .left-card {
    /* margin: 0.6em auto; */
    height: fit-content;
    margin: 15px auto;
    /* background-color: #7d4eff; */
    background-color: #4a494e;
  }
  .rightDivForm{
    /* background-color: #7d4eff; */
    background-color: #4a494e;
    padding: 10px;
    justify-items: left;
  }
  
  .map-summary {
    margin: 15px auto;
    border: 1px solid black;
    border-radius: 15px;
  }
  
  #summary-panel {
    padding: 10px;
  }
  
  #map {
    min-width: 200px;
    height: 400px;
    margin: 15px auto;
    /* border: 2px solid #000000; */
    border-radius: 5px;
    /* box-shadow: 8px 8px 16px #242424; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  
  .country-code {
    max-width: 80px;
    margin: 6px 6px 6px 0px;
    display: inline-block;
  }
  
  .number {
    max-width: 300px;
    display: inline-block;
    margin: 6px 6px 6px 0px;
  }
  
  .get-details{
    margin-bottom: 5px !important;
    background-color: #00b52d;
    color: white;
    border: none;
    font-weight: 600;
  }
  .bookbtn {
    margin-bottom: 5px !important;
    background-color: #00a01b;
    border: none;
    font-weight: 600;
    color: white;
  }
  .get-details:hover {
    background-color: #e2e2e2;
  }
  
  .user-details {
    font-size: 18px;
  }

  p{
    font-size: 14px;
    /* font-family:'Times New Roman', Times, serif; */
    font-weight: 500;
  }
  .card-title{
    font-size: 20px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight: 600;
  }
  .add-stops{
    /* background-color: #7d4eff; */
    background-color: #4a494e;
    color: white;
    border: none;
  }
  
  input:disabled {
    background-color: #e9ecef;
  }
  
  #startInput:disabled {
    background-color: #e9ecef !important;
  }
  
  #serviceType {
    max-width: 300px;
  }
  
  @media (width >=380px) {
    .address-group {
      display: flex;
      gap: 6px;
      flex-wrap: wrap;
    }
  
    .user-form {
      display: flex;
      gap: 6px;
      flex-wrap: wrap;
    }
  }
  
  @media (width >=935px) {
    .main-div {
      display: grid;
      grid-template-columns: auto 2fr;
      gap: 1.3em;
    }
  
  
    .left-card {
      width: auto;
    }
  
  }