
h1{
    font-family: cursive;
    padding: 40px;
    color: white;
  }
  .parentFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #formContainer{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 16px #000000;
    width: 40vw;
    height: 50%;
    padding: 20px;
    margin: 40px;
  }
  input{
    width: 100%;
    padding: 5PX;
  }
  #login{
    padding-top: 10px;
  }
  #login a{
    color: tomato;
    text-decoration: none;
    cursor: pointer;
  }
  #showbtn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(67, 113, 228);
    margin: 20px;
  }
  

  
  @media screen and (max-width: 480px) {
    #formContainer{
      width: 80vw;
  }
  }
  @media screen and (max-width: 780px) {
    #formContainer{
      width: 80vw;
  }
  }
  
  .card-container{
    width: 70%;
    margin-left:15%;
    margin-top: 3%;
  }
  .card{
    border-radius: 8px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    transition: all linear 200ms;
  
  }
  .card:hover{
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: 2px 2px 20px rgba(0,0,0,.3);
    cursor: pointer;
  }